.category-container {
    height: 90vh;
    width: 100%;
    padding: 10px 10px;
    background-color: #ececec;
}

.title-container{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 500;
    font-size: 1.5em;
}

.parent-cat-container{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 30px 0px;
}

.cat-div {
    width: 100%;
    height: 100%;
    padding: 100px 0px;
}