@import '~@angular/material/theming';

$zloura-primary: mat-palette($mat-red, 700);
$zloura-accent: mat-palette($mat-amber, 500);
$zloura-warn: mat-palette($mat-red);

$zloura-theme: mat-light-theme((
  color: (
    primary: $zloura-primary,
    accent: $zloura-accent,
    warn: $zloura-warn,
  ),
  typography: mat-typography-config(),
));

@include mat-core();

@include angular-material-theme($zloura-theme);

body {
  background-color: #000;
  color: #fff;
}