@use '@angular/material' as mat;
@use '../theme-colors' as my-theme;

html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: #F1F1F1,
    container-text-color: #1B1B1C,
  ));
}